{{define "partials/navbar" }}
<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offNavbar"
            aria-controls="offNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offNavbar" aria-labelledby="offNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {{ if ne .firstName nil }}
          <li class="nav-item">
            <a class="nav-link text-primary active" href="/profile">Hi {{.firstName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary active" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary active"  href="/blog">New Blog</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link text-primary active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary active" aria-current="page" href="/register">Register</a>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  {{ range .messages }}
  <div class="alert alert-success">{{.}}</div>
  {{ end }}
  {{ range .errors }}
  <div class="alert alert-danger">{{.}}</div>
  {{end}}
  </div>
{{end}}